In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import urllib.request
import pandas as pd

html = urlopen("http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=11&ncvContSeq=&contSeq=&board_id=&gubun=")
source = html.read()
html.close()

soup = BeautifulSoup(source, 'lxml')
table = soup.find("div", class_ = "data_table mgt16 mini")
tables1 = table.find_all("th")
tables2 = table.find_all("td")
#print(tables1)


col = ["isolated","released","deceased","confirmed","negative","test-active","active","test"]
print(col)


num=[]
for i in range(0, len(tables2)) :
    a = tables2[i].get_text()
    num.append(a)
    
print(num)

test_status = []
test_status.append(num)
test_status = pd.DataFrame(test_status)

test_status =test_status.rename(columns = {test_status.columns[0]: col[0],
                             test_status.columns[1]: col[1],
                             test_status.columns[2]: col[2],
                             test_status.columns[3]: col[3],
                             test_status.columns[4]: col[4],
                             test_status.columns[5]: col[5],
                             test_status.columns[6]: col[6],
                             test_status.columns[7]: col[7]})

test_status = pd.DataFrame(test_status, columns=['test','active','negative','confirmed',
                           'released','isolated','deceased'])
test_status

['isolated', 'released', 'deceased', 'confirmed', 'negative', 'test-active', 'active', 'test']
['5,884', '2,909', '104', '8,897', '308,343', '317,240', '14,540', '331,780']

      test  active negative confirmed released isolated deceased
0  331,780  14,540  308,343     8,897    2,909    5,884      104