In [16]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import urllib.request
import pandas as pd

html = urlopen("http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=13&ncvContSeq=&contSeq=&board_id=&gubun=")
source = html.read()
html.close()

soup = BeautifulSoup(source, 'lxml')
table = soup.find("div", class_ = "data_table mgt24")
tables1 = table.find_all("tbody")
#print(tables1)
tables2 = table.find_all("td")
#print(tables2)
tables3 = table.find_all("tr")
print(tables3)

[<tr>
<th rowspan="2" scope="col">시도명</th>
<th rowspan="2" scope="col">전일대비<br/>확진환자<br/>증감</th>
<th colspan="4" id="status_con">확진환자 (명)</th>
</tr>, <tr>
<th id="s_type1" scope="col">확진<br/>환자수</th>
<th id="s_type4" scope="col">격리<br/>해제수</th>
<th id="s_type2" scope="col">사망자<br/>수</th>
<th id="s_type3" scope="col">발생률<span class="txt_ntc_bold"> (*)</span></th>
</tr>, <tr class="sumline"><th scope="row">합계</th><td class="number">98</td><td class="number" header="status_con s_type1">8897</td><td class="number" header="status_con s_type4">2909</td><td class="number" header="status_con s_type2">104</td><td class="number" header="status_con s_type3">17.16</td></tr>, <tr><th scope="row">서울</th><td class="number">10</td><td class="number" header="status_con s_type1">324</td><td class="number" header="status_con s_type4">64</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">3.33</td></tr>, <tr><th scope="row">부산</th><td class="number">0</td><td class="number" header="status_con s_type1">108</td><td class="number" header="status_con s_type4">69</td><td class="number" header="status_con s_type2">1</td><td class="number" header="status_con s_type3">3.17</td></tr>, <tr><th scope="row">대구</th><td class="number">43</td><td class="number" header="status_con s_type1">6387</td><td class="number" header="status_con s_type4">2107</td><td class="number" header="status_con s_type2">75</td><td class="number" header="status_con s_type3">262.14</td></tr>, <tr><th scope="row">인천</th><td class="number">0</td><td class="number" header="status_con s_type1">40</td><td class="number" header="status_con s_type4">8</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">1.35</td></tr>, <tr><th scope="row">광주</th><td class="number">1</td><td class="number" header="status_con s_type1">19</td><td class="number" header="status_con s_type4">10</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">1.3</td></tr>, <tr><th scope="row">대전</th><td class="number">2</td><td class="number" header="status_con s_type1">24</td><td class="number" header="status_con s_type4">6</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">1.63</td></tr>, <tr><th scope="row">울산</th><td class="number">0</td><td class="number" header="status_con s_type1">36</td><td class="number" header="status_con s_type4">12</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">3.14</td></tr>, <tr><th scope="row">세종</th><td class="number">0</td><td class="number" header="status_con s_type1">41</td><td class="number" header="status_con s_type4">3</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">11.98</td></tr>, <tr><th scope="row">경기</th><td class="number">16</td><td class="number" header="status_con s_type1">337</td><td class="number" header="status_con s_type4">82</td><td class="number" header="status_con s_type2">3</td><td class="number" header="status_con s_type3">2.54</td></tr>, <tr><th scope="row">강원</th><td class="number">0</td><td class="number" header="status_con s_type1">30</td><td class="number" header="status_con s_type4">13</td><td class="number" header="status_con s_type2">1</td><td class="number" header="status_con s_type3">1.95</td></tr>, <tr><th scope="row">충북</th><td class="number">1</td><td class="number" header="status_con s_type1">35</td><td class="number" header="status_con s_type4">9</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">2.19</td></tr>, <tr><th scope="row">충남</th><td class="number">1</td><td class="number" header="status_con s_type1">120</td><td class="number" header="status_con s_type4">39</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">5.65</td></tr>, <tr><th scope="row">전북</th><td class="number">0</td><td class="number" header="status_con s_type1">10</td><td class="number" header="status_con s_type4">7</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">0.55</td></tr>, <tr><th scope="row">전남</th><td class="number">1</td><td class="number" header="status_con s_type1">6</td><td class="number" header="status_con s_type4">3</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">0.32</td></tr>, <tr><th scope="row">경북</th><td class="number">11</td><td class="number" header="status_con s_type1">1254</td><td class="number" header="status_con s_type4">432</td><td class="number" header="status_con s_type2">24</td><td class="number" header="status_con s_type3">47.1</td></tr>, <tr><th scope="row">경남</th><td class="number">1</td><td class="number" header="status_con s_type1">88</td><td class="number" header="status_con s_type4">42</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">2.62</td></tr>, <tr><th scope="row">제주</th><td class="number">0</td><td class="number" header="status_con s_type1">4</td><td class="number" header="status_con s_type4">3</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">0.6</td></tr>, <tr><th scope="row">검역</th><td class="number">11</td><td class="number" header="status_con s_type1">34</td><td class="number" header="status_con s_type4">0</td><td class="number" header="status_con s_type2">0</td><td class="number" header="status_con s_type3">-</td></tr>]

In [24]:
confirmed_name=[]
for i in range(0, len(tables3)) :
    a =  tables3[i].find_all("th", scope="row")
    confirmed_name.append(a)

confirmed_name

[[],
 [],
 [<th scope="row">합계</th>],
 [<th scope="row">서울</th>],
 [<th scope="row">부산</th>],
 [<th scope="row">대구</th>],
 [<th scope="row">인천</th>],
 [<th scope="row">광주</th>],
 [<th scope="row">대전</th>],
 [<th scope="row">울산</th>],
 [<th scope="row">세종</th>],
 [<th scope="row">경기</th>],
 [<th scope="row">강원</th>],
 [<th scope="row">충북</th>],
 [<th scope="row">충남</th>],
 [<th scope="row">전북</th>],
 [<th scope="row">전남</th>],
 [<th scope="row">경북</th>],
 [<th scope="row">경남</th>],
 [<th scope="row">제주</th>],
 [<th scope="row">검역</th>]]

In [40]:
confirmed_name = ['합계','서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주','검역']

['합계',
 '서울',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주',
 '검역']

In [7]:
confirmed = table.find_all("td",  header="status_con s_type1")
confirmed_num=[]
for i in range(0, len(confirmed)) :
    a = confirmed[i].get_text()
    confirmed_num.append(a)
confirmed_num

['8897',
 '324',
 '108',
 '6387',
 '40',
 '19',
 '24',
 '36',
 '41',
 '337',
 '30',
 '35',
 '120',
 '10',
 '6',
 '1254',
 '88',
 '4',
 '34']

In [33]:
recovered = table.find_all("td",  header="status_con s_type4")
recovered_num=[]
for i in range(0, len(recovered)) :
    a = recovered[i].get_text()
    recovered_num.append(a)
recovered_num

['2909',
 '64',
 '69',
 '2107',
 '8',
 '10',
 '6',
 '12',
 '3',
 '82',
 '13',
 '9',
 '39',
 '7',
 '3',
 '432',
 '42',
 '3',
 '0']

In [34]:
deceased = table.find_all("td",  header="status_con s_type2")
deceased_num=[]
for i in range(0, len(deceased)) :
    a = deceased[i].get_text()
    deceased_num.append(a)
deceased_num

['104',
 '0',
 '1',
 '75',
 '0',
 '0',
 '0',
 '0',
 '0',
 '3',
 '1',
 '0',
 '0',
 '0',
 '0',
 '24',
 '0',
 '0',
 '0']

In [48]:
data = pd.DataFrame({'confirmed':confirmed_num, 'recovered':recovered_num, 'deceased':deceased_num}, index=confirmed_name)
data

   confirmed recovered deceased
합계      8897      2909      104
서울       324        64        0
부산       108        69        1
대구      6387      2107       75
인천        40         8        0
광주        19        10        0
대전        24         6        0
울산        36        12        0
세종        41         3        0
경기       337        82        3
강원        30        13        1
충북        35         9        0
충남       120        39        0
전북        10         7        0
전남         6         3        0
경북      1254       432       24
경남        88        42        0
제주         4         3        0
검역        34         0        0